{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'theses_ci/images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'theses_ci/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'theses_ci/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'theses_ci/css/these.css' %}">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Poppins?query=popp">
    <script src="{% static 'theses_ci/js/bootstrap.js' %}" defer></script>
    <script src="{% static 'theses_ci/js/base.js' %}" defer></script>
    <title>Document</title>
</head>
<body>
    
    <div class="main">

        <div class="image">
            <img src="{% static 'theses_ci/images/logo.png' %}" alt="">
        </div>
        <h3 class="text-center titre mt-4">Le moteur de recherche des thèses Ivoirien</h3>
       
    </div>

    <div  class="container">
        {% block contenu %}
        {% endblock %}
    </div>


    <div class="container footer">
        {% include 'theses_ci/footer.html'%}
    </div>
</body>
</html>