*{
    font-family: 'Poppin',sans-serif;
}
.main{
    padding: 5em 0 5em;
}

.image{
    display: flex;
    justify-content: center;
}
.vertical-line {
    width: 1px;            
    height: 100px;        
    background-color: #c2bdbd; 
    margin: 0 10px;     
}

.image img{
    width: 100px;
}

.titre{
    font-size: 30px;
}

.type_recherche{
    display: flex;
    justify-content: center;
}
.btn-type-research{
    border-radius: 3px;
    padding: 13px 9em;
    min-width: 27%;
    min-height: 4em;
    display: flex;
    align-items: center;
}
.theses{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn-type-research:hover{
    background-color: #c2bdbd;
    transition: 0.7s;
    cursor: pointer;
    
}
.icone{
    width: 50px;
    padding-right: 4em;
}

.visibilite{
    visibility:hidden;
    position: absolute;
    top: 4em;
}

.card_form{
    border-radius: 0;
    width: 75%;
}

.btn-type{
    border: 1px solid rgb(224, 223, 223);
    padding: 4px 25px;
}
/* #search-form{
    position: relative;
    margin-top: 4em;
} */


.line{
    border-left: 2px solid rgb(224, 223, 223);
    margin: 0 5px;
}

.recherche_avancee{
    display: flex;
    justify-content: end;
}
.recherche_avancee div{
    margin: 0 9.6em;
}




.footer{
    margin-top: 12em;
}

body{
    background-color: lightgreen;
}

@media (max-width: 976px) {
    .btn-type-research {
        display: flex;
        flex-direction: column;
        align-items: center;    
        padding: 10px 6px;    
        width: 40% ;      
        cursor: pointer;        
    }
    .vertical-line {
        width: 1px;            
        height: 110px;        
        background-color: #c2bdbd; 
        margin: 0 10px;     
    }
    
    /* Style pour l'icône */
    .btn-type-research .icone {
        margin-bottom: 10px; /* Espace entre l'icône et le texte */
    }
    
    /* Style pour le texte */
    .btn-type-research .texte {
        margin: 0; /* Supprime les marges par défaut */
        font-size: 16px; /* Taille de police optionnelle */
        text-align: center; /* Centre le texte */
    }
    .card_form{
        border-radius: 0;
        width: 100%;
    }

    .main{
        padding: 1em 0 3em;
    }

    .recherche_avancee{
        display: flex;
        flex-direction: column;
        align-items: end;   
    }
    .recherche_avancee div{
        margin: 0 ;
    }
    
    body{
        background-color: lightblue;
    }
  }