{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'theses_ci/css/bootstrap.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'theses_ci/css/these.css' %}"> 
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    
    <title>Créer une thèse</title>

    <style>
        /* styles.css */
        body {
            font-family: Arial, sans-serif;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        #searchInput, #searchInput1, #searchInput2 {
            width: 100%;
            box-sizing: border-box;
            padding: 7px;
            margin-bottom: 8px;
        }

        #dropdownList , #dropdownList1, #dropdownList2 {
            list-style-type: none;
            padding: 0;
            margin: 0;
            border: 1px solid #ccc;
            max-height: 150px;
            overflow-y: auto;
            display: none;
            position: absolute;
            background-color: white;
            width: 100%;
            z-index: 1;
        }

        #dropdownList li, #dropdownList1 li, #dropdownList2 li {
            padding: 8px;
            cursor: pointer;
        }

        #dropdownList li:hover, #dropdownList1 li:hover, #dropdownList2 li:hover {
            background-color: #ddd;
        }
        .titre{
            color: #0E3B9C;
        }
        label{
            font-weight: bold;
        }
        i{
            font-size: 8px;
            color: red;
        }
        #backButton{
            width: auto;
            color: #0E3B9C;
            border: 1px solid #0E3B9C;
        }
      
    </style>
</head>
<body class="container">
    <h1>Créer une nouvelle thèse</h1>
    
    <form action="{% url 'theses_ci:these_etape1' %}" method="post" class="p-5 card shadow rounded-0">
        {% csrf_token %}

        <div class="card  mb-4 border-1 rounded-0">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold titre fw-bold">AUTEUR DE LA THESE</h6>
            </div>
        
            <div class="card-body" id="input-container">
                <div class="row" id="director-template">
                    <div class=" col-md-4 col-sm-4 ">  
                        <label for="auteur_nom">Nom <i class="fa-solid fa-star"></i></label>
                        {{these.auteur_nom}}
                    </div>
                    <div id="director-template" class="col-md-4 col-sm-4 "> 
                        <label for="auteur_nom">Prenom</label> 
                        {{these.auteur_prenom}}
                    </div>
                    <div id="director-template" class="col-md-4 col-sm-4 ">
                        <label for="auteur_nom">Email</label>  
                        {{these.auteur_email}}
                    </div>
                </div>
            </div>
        </div>

        
        
        <div class="card mb-4 rounded-0">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold titre fw-bold">THESE</h6>
            </div>
        
            <div class="card-body" id="">
                <div id="director-template" class=" mb-3">  
                    <label for="auteur_nom">Theme</label>
                    {{these.theme}}
                </div>
                <div class="row align-items-center">
                    <div id="director-template" class="dropdown">  
                        <label for="auteur_nom">Domaine</label>
                        <input type="text" id="searchInput" value="{% if d_saisie %}{{d_saisie}} {% endif %}" name="domaine" class="form-control form-select-sm rounded-0" onkeyup="filterFunction()" placeholder="Domaine">
                        <ul id="dropdownList">
                            {% for d in domaines_values %}
                            <li onclick="selectItem(this)">{{d.libelle}}</li>
                            {% endfor %}
                        </ul>
                        <input type="hidden" id="hiddenDomaineInput" name="domaine" value="">
                        <script>
                            function filterFunction() {
                                const input = document.getElementById('searchInput');
                                const filter = input.value.toLowerCase();
                                const ul = document.getElementById('dropdownList');
                                const li = ul.getElementsByTagName('li');

                                ul.style.display = 'block'; // Show the list

                                for (let i = 0; i < li.length; i++) {
                                    const txtValue = li[i].textContent || li[i].innerText;
                                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                                        li[i].style.display = '';
                                    } else {
                                        li[i].style.display = 'none';
                                    }
                                }
                            }

                            function selectItem(element) {
                                const input = document.getElementById('searchInput');
                                input.value = element.textContent || element.innerText;
                                const ul = document.getElementById('dropdownList');
                                ul.style.display = 'none'; // Hide the list

                                // Mettre à jour le champ caché pour soumettre la valeur sélectionnée
                                const hiddenInput = document.getElementById('hiddenDomaineInput');
                                hiddenInput.value = input.value;
                            }

                            // Close the dropdown if the user clicks outside of it
                            window.onclick = function(event) {
                                if (!event.target.matches('#searchInput')) {
                                    const dropdowns = document.getElementsByClassName('dropdown-content');
                                    for (let i = 0; i < dropdowns.length; i++) {
                                        const openDropdown = dropdowns[i];
                                        if (openDropdown.style.display === 'block') {
                                            openDropdown.style.display = 'none';
                                        }
                                    }
                                }
                            };
                        </script>
                    
                    </div>
                    
                </div>
                <div id="" class="w-100 mb-3 dropdown">  
                    <label for="">Spécialité</label>
                    <input type="hidden" id="hiddenSpecialiteInput" name="specialite" value="">
                    <input type="text" id="searchInput1" value="{% if specialite_saisie %}{{specialite_saisie}} {% endif %}" name="specialite" class="form-control form-select-sm rounded-0" onkeyup="filterFunction1()" placeholder="Spécialité">
                    <ul id="dropdownList1">
                        {% for s in specialites %}
                        <li onclick="selectItem1(this)">{{s}}</li>
                        {% endfor %}
                    </ul>

                    <script>
                        function filterFunction1() {
                            const input = document.getElementById('searchInput1');
                            const filter = input.value.toLowerCase();
                            const ul = document.getElementById('dropdownList1');
                            const li = ul.getElementsByTagName('li');

                            ul.style.display = 'block'; // Show the list

                            for (let i = 0; i < li.length; i++) {
                                const txtValue = li[i].textContent || li[i].innerText;
                                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                                    li[i].style.display = '';
                                } else {
                                    li[i].style.display = 'none';
                                }
                            }
                        }

                        function selectItem1(element) {
                            const input = document.getElementById('searchInput1');
                            input.value = element.textContent || element.innerText;
                            const ul = document.getElementById('dropdownList1');
                            ul.style.display = 'none'; // Hide the list

                            // Mettre à jour le champ caché pour soumettre la valeur sélectionnée
                            const hiddenInput = document.getElementById('hiddenSpecialiteInput');
                            hiddenInput.value = input.value;
                        }

                        // Close the dropdown if the user clicks outside of it
                        window.onclick = function(event) {
                            if (!event.target.matches('#searchInput1')) {
                                const dropdowns = document.getElementsByClassName('dropdown-content');
                                for (let i = 0; i < dropdowns.length; i++) {
                                    const openDropdown = dropdowns[i];
                                    if (openDropdown.style.display === 'block') {
                                        openDropdown.style.display = 'none';
                                    }
                                }
                            }
                        };
                    </script>
                

                </div>



                <div id="director-template" class=" mb-3">  
                    <label for="auteur_nom">Resumé</label>
                    {{these.resume}}
                </div>
                <div  id="mot_cle">
                    <div id="director-template" class="mb-3">  
                        <label for="auteur_nom">Mots clés</label><br>
                        <small class="mb-2">Ajoutez tous les mots clés séparés par des virgules ( , )</small>
                        {{these.mot_cle}}
                    </div>
                </div>
                
                <div id="director-template" class="mb-3">  
                    <label for="auteur_nom">Date de soutenance</label>
                    {{these.date_soutenance}}
                </div>
                <div id="" class="mb-3 dropdown w-100">  
                    <label for="">Université</label>
                    {{these.institution}}
                    <input type="hidden" id="hiddenUniversiteInput" name="universite" value="">
                    <input type="text" id="searchInput2" value="{% if universite_saise %}{{universite_saise}} {% endif %}" name="universite" class="form-control form-select-sm rounded-0" onkeyup="filterFunction2()" placeholder="Université">
                    <ul id="dropdownList2">
                        {% for u in universite %}
                        <li onclick="selectItem2(this)">{{u}}</li>
                        {% endfor %}
                    </ul>
                    <script>
                        function filterFunction2() {
                            const input = document.getElementById('searchInput2');
                            const filter = input.value.toLowerCase();
                            const ul = document.getElementById('dropdownList2');
                            const li = ul.getElementsByTagName('li');

                            ul.style.display = 'block'; // Show the list

                            for (let i = 0; i < li.length; i++) {
                                const txtValue = li[i].textContent || li[i].innerText;
                                if (txtValue.toLowerCase().indexOf(filter) > -1) {
                                    li[i].style.display = '';
                                } else {
                                    li[i].style.display = 'none';
                                }
                            }
                        }

                        function selectItem2(element) {
                            const input = document.getElementById('searchInput2');
                            input.value = element.textContent || element.innerText;
                            const ul = document.getElementById('dropdownList2');
                            ul.style.display = 'none'; // Hide the list

                            // Mettre à jour le champ caché pour soumettre la valeur sélectionnée
                            const hiddenInput = document.getElementById('hiddenUniversiteInput');
                            hiddenInput.value = input.value;
                        }

                        // Close the dropdown if the user clicks outside of it
                        window.onclick = function(event) {
                            if (!event.target.matches('#searchInput2')) {
                                const dropdowns = document.getElementsByClassName('dropdown-content');
                                for (let i = 0; i < dropdowns.length; i++) {
                                    const openDropdown = dropdowns[i];
                                    if (openDropdown.style.display === 'block') {
                                        openDropdown.style.display = 'none';
                                    }
                                }
                            }
                        };
                    </script>
                </div>
                
                
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" id="backButton" class="btn">Suivant <i class="fa-solid fa-greater-than"></i></button> 
        </div>

    </form>
 



    <div class="container footer m-5">
        {% include 'theses_ci/footer.html'%}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" defer></script>
    <script src="{% static 'theses_ci/js/bootstrap.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>

</body>
</html>
