{% extends 'theses_ci/base.html' %}
{% block contenu %}
<section id="info" class="" >
    <div class="container">
        <div class="d-flex justify-content-center gap-5">
            <a href="{% url 'theses_ci:resultat' %}?all=*">
                <div class="info bg-light text-center rounded-2 shadow">
                    <div><span class="nombre" style="color: #1F9AE4;">{{ nb_these }}</span></div>
                    <span class="fw-bold text-dark">Thèses publiées</span><br>
                    <div class="mt-3"><span class="text-primary">EXPLORER</span></div>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}

           