{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'theses_ci/css/bootstrap.css' %}"> 
    <link rel="stylesheet" href="{% static 'theses_ci/css/jury.css' %}"> 
    <link rel="stylesheet" href="{% static 'theses_ci/css/style.css' %}"> 
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    
    <title>Document</title>
    <style>
        #head {
            
            width: 100%;
            height: 530px;
            background: linear-gradient(to bottom, rgba(126, 112, 135, 0.6), rgba(30, 31, 92, 0.6)), url('../../../static/theses_ci/images/acceuil.png') no-repeat;
            background-size: cover;
            }
            .main{
                padding: 5em 0 5em;
            }
            #search-form{
                position: absolute;
                top: 25em;
                left: 59%;
                transform: translateX(-50%);
            }
    
            i{
                font-size: 40px;
                color: #FFF;
            }
            .texte{
                color: #FFF;
                font-weight: bold;
                font-size: 20px;
            }
            #info{
                margin-top: 10em;
            }
            .nombre{
                font-size: 45px;
                font-weight: 900;
                color: rgb(var(--v-theme-secondary-darken-2));
            }
            .info{
                height: 200px;
                min-width: 200px;
                padding-top: 30px;
            }
            .titre{
                font-size: 32px;
            }
    </style>
</head>
<body>

    <section id="head">
        <div class="main">
    
            <div class="image" style="padding-top: -20px;">
                <img src="{% static 'theses_ci/images/logo.png' %}" alt="">
            </div>
            <h1 class="text-center mt-4 text-light titre">Le moteur de recherche des thèses Ivoirien</h1>
           
        </div>
    </section>
    
    <section id="form" class="container">
        <h1 class="text-center pb-3 fw-bold these_titre display-3">Ajouter une Thèse <span class="text-primary">2/2</span> </h1>
        <form action="{% url 'theses_ci:these_etape2' %}" method="post" >
            {% csrf_token %}

            <div class="p-5 m card shadow rounded-0 mb-4">
            <div class="card  mb-4 border-1 rounded-0">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold titre fw-bold">DIRECTEUR(S)/DIRECTRICE(S) DE THESE</h6>
                </div>
            
                <div class="card-body" id="input-container-directeur">
                    
                    <div class="bg-light card rounded-0 p-2">
                        <div class="">  
                            <label for="auteur_nom">Nom et Prénom</label>
                            {{directeur.dr_nom_prenom}} 
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <label for="auteur_nom">Email</label>  
                                {{directeur.dr_email}}
                            </div>
                            <div class="col-md-4" class="dropdown">
                                <label for="auteur_nom">Université</label>  
                                <select class="form-select-sm w-100 universite_js" value="" name="dr_universite[]">
                                    <option value="">Université...</option>
                                    {% for universite in universites %}
                                        <option value="{{universite.id}}">{{universite}}</option>
                                    {% endfor %}
                                </select>
                                
                            </div>

                        </div>
                    </div>   
                    
                </div>
                <div class="d-flex container justify-content-end mt-2 mb-3">
                    <button type="button" onclick="addLine()" class="btn btnadd fw-bold rounded-0">+ Ajouter</button>
                </div>
                <script>
                    function addLine() {
                        var form = document.getElementById('input-container-directeur');
                        var newLine = document.createElement('div');
                        newLine.classList.add('card', 'p-2', 'bg-light','mt-3', 'rounded-0');
                        newLine.innerHTML = `
                            <div class="">  
                                <label for="auteur_nom">Nom et Prénom</label>
                                {{directeur.dr_nom_prenom}}
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="auteur_nom">Email</label>  
                                    {{directeur.dr_email}}
                                </div>
                                <div class="col-md-4">
                                    <label for="auteur_nom">Université</label>  
                                    <select class="form-control rounded-0 universite_js" name="dr_universite[]">
                                        <option value="">Université...</option>
                                        {% for universite in universites %}
                                        <option value="{{universite.id}}">{{universite}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="d-flex container justify-content-end mt-1">
                                    <button class="delete-button bg-light" onclick="deleteLinejury(this)"><i class="fa-solid fa-trash"></i> Supprimer</button>
                                </div>
                            </div>
                        `;
                        form.appendChild(newLine);
                        // Réinitialiser Select2 sur les nouveaux champs
                        $('.universite_js').select2();
                    }
                
                    function deleteLine(button) {
                        var form = document.getElementById('input-container-directeur');
                        var line = button.parentElement.parentElement; // Accès au parent du parent
                        form.removeChild(line);
                    }
                </script>
                
                
            </div>

            <div class="card  mb-4 border-1 rounded-0">
                
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold titre fw-bold">MEMBRES DU JURY</h6>
                </div>
            
                <div class="card-body" id="input-container-jury">

                    {% for _ in range %}
                    <div class="line mb-4 card rounded-0 p-2 bg-light">
                        <div class="">  
                            <label for="auteur_nom">Nom et Prenom</label>
                            {{membrejury.nom_prenom}}
                        </div>
                        <div class="row" id="director-template">
                            <div id="director-template" class="col-md-6 col-sm-4 "> 
                                <label for="auteur_nom">Email</label> 
                                {{membrejury.email}}
                            </div>
                            <div id="director-template" class="col-md-4 col-sm-4 ">
                                <label for="auteur_nom">Université</label>  
                                <select class="form-select-sm w-100 universite_js" value="" name="universite[]">
                                    <option value="">Université...</option>
                                    {% for universite in universites %}
                                        <option value="{{universite.id}}">{{universite}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="director-template" class="col-md-2 col-sm-4 ">
                                <label for="auteur_nom">Role</label>  
                                {{membrejury.role}}
                            </div>
                            
                        </div>
                    </div>
                
                    {% endfor %} 
                    
                </div>
                <div class="d-flex container justify-content-end mt-2 mb-3">
                    <button type="button" onclick="addLineJury()" class="btn btnadd fw-bold rounded-0">+ Ajouter</button>
                </div>
                
                <script>
                    function addLineJury() {
                        var form = document.getElementById('input-container-jury');
                        var newLine = document.createElement('div');
                        newLine.classList.add('line', 'mb-4', 'card', 'rounded-0', 'p-2','bg-light');
                        newLine.innerHTML = `
                            <div class="">  
                                <label for="auteur_nom">Nom et Prenom</label>
                                {{membrejury.nom_prenom}}
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-4"> 
                                    <label for="auteur_nom">Email</label> 
                                    {{membrejury.email}}
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="auteur_nom">Université</label>  
                                    <select class="form-select w-100 universite_js" value="" name="universite[]">
                                        <option value="">Université...</option>
                                        {% for universite in universites %}
                                            <option value="{{universite.id}}">{{universite}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2 col-sm-4">
                                    <label for="auteur_nom">Role</label>  
                                    {{membrejury.role}}
                                </div>
                                <div class="d-flex container justify-content-end mt-1">
                                    <button class="delete-button bg-light" onclick="deleteLinejury(this)"><i class="fa-solid fa-trash"></i> Supprimer</button>
                                </div>
                            </div>
                        `
                        form.appendChild(newLine);
                    }
                
                    function deleteLinejury(button) {
                        var line = button.parentElement.parentElement.parentElement; // Accès au parent du parent du parent
                        line.remove();
                    }
                </script>
                
                
            </div>
            <div class="d-flex justify-content-start " id="">
                <a href="{%url 'theses_ci:precedent' %}" id="backButton" class="btn"><i class="fa-solid fa-less-than"></i> Precedent</a>
            </div>
            
        </div>


        


        <div class="d-flex justify-content-center mb-5" >
            <button type="submit" id="btnSave">Enregistrer la These</button>
        </div>

        </form>
    </section>

    <div class=" bg-light footer">
        <div class="container">
            <div class="container p-4">
                {% include 'theses_ci/footer.html'%}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="{% static 'theses_ci/js/bootstrap.min.js' %}"></script>
    
    
    <script>
        // Initialiser Select2 sur le champ auteur
        $(document).ready(function() {
            $('.universite_js').select2();
        });
    </script>



</body>
</html>