<!-- Modal -->

<!-- {% if session['nom_prenom']|length > 1 %}
                    {% for i in session['nom_prenom']|length|get_range %}
                        <div class="line mt-3">
                            <hr>
                            <div class="">  
                                <label for="auteur_nom">Nom et Prenom</label>
                                {{session['nom_prenom'][i]}}
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-4"> 
                                    <label for="auteur_nom">Email</label> 
                                    {{session['email'][i]}}
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <label for="auteur_nom">université</label>  
                                    {{session['universite'][i]}}
                                </div>
                                <div class="col-md-2 col-sm-4">
                                    <label for="auteur_nom">Role</label>  
                                    {{session['role'][i]}}
                                </div>
                                <div class="d-flex container justify-content-end mt-1">
                                    <button class="delete-button" onclick="deleteLinejury(this)"><i class="fa-solid fa-trash"></i> Supprimer</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %} -->