{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'theses_ci/images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'theses_ci/css/bootstrap.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'theses_ci/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'theses_ci/css/resultat.css' %}">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Poppins?query=popp">
    <script src="{% static 'theses_ci/js/bootstrap.min.js' %}" defer></script>
    <script src="{% static 'theses_ci/js/base.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <title>Document</title>

    <style>
        .searchfiltre{
            display: none;
        }
        .dropdown-content-filtre-date {
            display: none;
            position: relative; /* Change to relative */
            background-color: #f9f9f9;
            width: 100%;
            /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
            z-index: 1;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }

        .dropdown-content-filtre-date div {
            padding: 12px 16px;
        }

        .datesoutenance {
            width: 100px;
        }

        .dropdown-content-filtre-date.show {
            display: block;
            max-height: 200px; /* Ajustez cette valeur selon la hauteur totale du contenu */
            overflow-y: auto; /* Permet le défilement vertical */
        }
    </style>

</head>
<body class=>
    
<section id="head">
    <div class="main">

        <div class="image" style="padding-top: -20px;">
            <img src="{% static 'theses_ci/images/logo.png' %}" alt="">
        </div>
        <h1 class="text-center mt-4 text-light titre">Le moteur de recherche des thèses Ivoirien</h1>
       
    </div>
    <div class="d-flex justify-content-center w-auto">
        <div class="btn-type-research d-flex align-items-center gap-3 " id="btn-these-search">
            <div class="icone"><i class="fa-sharp fa-solid fa-graduation-cap"></i></div>
            <div class="texte">LES THÈSES</div>
        </div>
        <!-- <div class="line"></div>
        <div class="btn-type-research text-center d-flex align-items-center gap-3" id="btn-person-search">
            <div class="icone"><i class="fa-solid fa-users text-light"></i></div>
            <div class="texte">LES PERSONNES <br><small style="font-weight: 500;">liées au thèses</small></div>
        </div> -->
    </div>
</section>

<section id="search-form" class="container" style="margin-top: 4.5em;">
    <div id="theses-form" class="">
        <form action="{% url 'theses_ci:resultat' %}" method="POST" class="">
            {% csrf_token %}
            <div class="card w-75 pb-5 pt-5 rounded-0 bg-light shadow-sm card_form ">
                <div class="row container">
                    <div class="col-md-10 dropdown">
                
                        <input type="text" id="searchInputThese" value="" name="mot_cle" class="form-control form-select-sm rounded-0" onkeyup="filterThesesFunction()" placeholder="Rechercher des thèses">
                        <ul id="dropdownList">
                            {% for d in mots_cles %}
                            <li onclick="selectItem(this)">{{d}}</li>
                            {% endfor %}
                        </ul>
                        <script>
                            function filterThesesFunction() {
                                const input = document.getElementById('searchInputThese');
                                const filter = input.value.toLowerCase();
                                const ul = document.getElementById('dropdownList');
                                const li = ul.getElementsByTagName('li');

                                ul.style.display = 'block'; // Show the list

                                for (let i = 0; i < li.length; i++) {
                                    const txtValue = li[i].textContent || li[i].innerText;
                                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                                        li[i].style.display = '';
                                    } else {
                                        li[i].style.display = 'none';
                                    }
                                }
                            }

                            function selectItem(element) {
                                const input = document.getElementById('searchInputThese');
                                input.value = element.textContent || element.innerText;
                                const ul = document.getElementById('dropdownList');
                                ul.style.display = 'none'; // Hide the list
                            }

                            // Close the dropdown if the user clicks outside of it
                            window.onclick = function(event) {
                                if (!event.target.matches('#searchInputThese')) {
                                    const dropdowns = document.getElementsByClassName('dropdown-content');
                                    for (let i = 0; i < dropdowns.length; i++) {
                                        const openDropdown = dropdowns[i];
                                        if (openDropdown.style.display === 'block') {
                                            openDropdown.style.display = 'none';
                                        }
                                    }
                                }
                            };
                        </script>

                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-warning w-100">Rechercher</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <!-- <div id="personne-form" class="visibilite">
        <form action="" method="POST" class=" d-flex justify-content-center">
            <div class="card w-75 pb-5 pt-5 round-0 card_form ">
                <div class="row container">
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="key_word" required placeholder="Nom personne">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-warning w-100">Rechercher</button>
                    </div>
                </div>
            </div>
        </form>
        
    </div> -->
</section>

<section id="lien" class="ps-5" style="margin-top: 10em;">
    <div class="d-flex">
        <span style="font-size: 25px;"><a href="{% url 'theses_ci:index' %}">acceuil</a> / Resultat(s)</span>
    </div>
</section>

<section id="resultat" style="margin-top: 1em;">
    <div class="row">
        {% if terme %}
        <div class="col-md-3" style="height: auto;">
            <div class="card rounded-0 p-3" id="filtrecard">
                <div class="d-flex align-items-center" id="filtre">
                    <div>
                        <i class="fa-solid fa-filter filtre_icone"></i>
                    </div>
                    <div class="filtre">
                        <h4 class="fw-bold">Filtres</h4>
                    </div>
                </div>
                
                {% if page_obj|length != 0 %} 
                <!-- Filtres des établissements -->
                <div class="dropdown_filtre">
                    <button onclick="toggleDropdown('dropdownContent', 'dropdownIcon')" class="dropbtn">
                        Etablissements
                        <i id="dropdownIcon" class="fas fa-chevron-down"></i>
                    </button>
                    <div id="searchfiltre" class="searchfiltre">
                        <input class="form-control rounded-0" type="text" id="filterInput" onkeyup="filterFunction('dropdownContent', 'filterInput')" placeholder="Rechercher...">
                    </div>
                    <div id="dropdownContent" class="dropdown-content-filtre">
                        {% for etablissement in etablissements %}
                        <label>
                            <input type="checkbox" name="etablissement[]" value="{{ etablissement }}">
                            {{ etablissement }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
        
                <!-- Filtres des domaines -->
                <div class="dropdown_filtre">
                    <button onclick="toggleDropdown('dropdownContent1', 'dropdownIcon1')" class="dropbtn">
                        Domaines
                        <i id="dropdownIcon1" class="fas fa-chevron-down"></i>
                    </button>
                    <div id="searchfiltre1" class="searchfiltre">
                        <input class="form-control rounded-0" type="text" id="filterInput1" onkeyup="filterFunction('dropdownContent1', 'filterInput1')" placeholder="Rechercher...">
                    </div>
                    <div id="dropdownContent1" class="dropdown-content-filtre">
                        {% for domaine in domaines %}
                        <label class="gap-3">
                            <input type="checkbox" name="domaine[]" value="{{ domaine }}">
                            {{ domaine }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <!-- Filtres des Specialités -->
                <div class="dropdown_filtre">
                    <button onclick="toggleDropdown('dropdownContent2', 'dropdownIcon2')" class="dropbtn">
                        Spécialités
                        <i id="dropdownIcon2" class="fas fa-chevron-down"></i>
                    </button>
                    <div id="searchfiltre2" class="searchfiltre">
                        <input class="form-control rounded-0" type="text" id="filterInput2" onkeyup="filterFunction('dropdownContent2', 'filterInput2')" placeholder="Rechercher...">
                    </div>
                    <div id="dropdownContent2" class="dropdown-content-filtre">
                        {% for specialite in specialites %}
                        <label class="gap-3">
                            <input type="checkbox" name="specialite[]" value="{{ specialite }}">
                            {{ specialite }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <!-- Filtres des Dates -->
                <!-- <div class="dropdown_filtre">
                    <button onclick="toggleDropdownDate('searchfiltre3', 'dropdownIcon3')" class="dropbtn">
                        Date
                        <i id="dropdownIcon3" class="fas fa-chevron-down"></i>
                    </button>
                    <div id="searchfiltre3" class="searchfiltre">
                        <div class="d-flex justify-content-center gap-3" style="padding: 10px 10px;">
                            <div class="w-100">
                                <span>de</span>
                                <input type="number" oninput="filterYearList()" onblur="hideDropdown()" placeholder="AAAA" id="datedebut" min="{{date_min}}" max="{{date_max}}" class="form-control datesoutenance w-100">
                            </div>
                            <div class="w-100">
                                <span>à</span>
                                <input type="number" oninput="filterYearList()" placeholder="AAAA" id="datefin" min="{{date_min}}" max="{{date_max}}" class="form-control datesoutenance w-100">
                            </div>
                        </div>
                        <div>
                            <button type="button btn-primary">Rechercher</button>
                        </div>
                    
                    </div>
                    
                </div> -->
                
                <!-- <script>
                    function hideDropdown() {
                        const div = document.getElementById('dropdownContent3');
                        div.style.display = 'none'; 
                    }
                
                    function toggleDropdownDate() {
                        document.getElementById('dropdownContent3').classList.toggle('show');
                    }
                
                    
                
                    function createYearList() {
                        var yearList = document.getElementById('yearList');
                        for (var year = 1900; year <= 2099; year++) {
                            var yearItem = document.createElement('div');
                            yearItem.textContent = year;
                            yearItem.style.cursor = 'pointer';
                            yearItem.addEventListener('click', function() {
                                var yearInput = document.activeElement;
                                if (yearInput.tagName === 'INPUT' && yearInput.classList.contains('datesoutenance')) {
                                    yearInput.value = this.textContent;
                                }
                                document.getElementById('dropdownContent3').classList.remove('show');
                            });
                            yearList.appendChild(yearItem);
                        }
                    }
                
                    
                
                    
                </script> -->
                
                
                

                {% endif %} 



            </div>
        </div>
        
        <div class="col-md-9">
            <div class="card rounded-0 me-3 p-3">
                <div class="row mb-3 mt-2" style="padding: 0 0 3em 3em;">
                    <div class="col-md-6">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?all=*&page=1" aria-label="First">
                                            <span aria-hidden="true">&laquo;&laquo;</span>
                                            <span class="sr-only">Premiere</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?all=*&page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Precedente</span>
                                        </a>
                                    </li>
                                {% endif %}
            
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                                    </a>
                                </li>
            
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?all=*&page={{ page_obj.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Suivante</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?all=*&page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                            <span class="sr-only">Derniere</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                       
                    </div>
                </div>

                <h3>La recherche sur <span class="text-primary">"{{ terme }}"</span> a retourné <span class="text-primary">{{ nb }} </span>résultat(s)</h3>
                {% for these in page_obj %}
                <a href="{% url 'theses_ci:detail' these.id %}" class="nav-link mt-3 these">
                    <div class="row">
                        <div class="col-md-10 col-sm-10 col-10">
                            <div class="color" style="font-size: 18px;">{{ these.theme }}</div>
                            <div class="these-content fw-bold" style="font-size: 15px;">
                                Par <span class="text-primary">{{ these.auteur_nom }} {{ these.auteur_prenom }}</span> sous la direction de 
                                {% for directeur in these.directeur.all %}
                                <span class="text-primary">{{ directeur.dr_nom_prenom }} </span>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                - <span class="domaine">{{ these.domaine.libelle }}</span>
                                - <span class="specialite">{{ these.specialite.libelle }}</span>
                                - <span class="text-primary institution">{{ these.institution.nom }}</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-2 d-flex justify-content-end align-items-center color date">
                            {{ these.date_soutenance|date:"Y" }}
                        </div>
                    </div>
                </a>
                <br>
                {% endfor %}

                <div class="d-flex justify-content-center" style="margin-top: 3em;">
                    <div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?all=*&page=1" aria-label="First">
                                            <span aria-hidden="true">&laquo;&laquo;</span>
                                            <span class="sr-only">Premiere</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?all=*&page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Precedente</span>
                                        </a>
                                    </li>
                                {% endif %}
            
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">
                                        Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                                    </a>
                                </li>
            
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?all=*&page={{ page_obj.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Suivante</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?all=*&page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                                            <span aria-hidden="true">&raquo;&raquo;</span>
                                            <span class="sr-only">Derniere</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            
        </div>
        {% endif %}
    </div>
</section>

<div class="footer bg-light">
    <div class="container p-4">
        {% include 'theses_ci/footer.html'%}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'theses_ci/js/resultat.js' %}"></script>
<!-- <script> -->
    <!-- Lorsque la sélection de la liste déroulante change -->
    <!-- $('#perPage').change(function() {
        // Soumettre automatiquement le formulaire
        $('#perPageForm').submit();
    }); -->
<!-- </script> -->


</body>
</html>

